/* 
    Document   : style
    Created on : Aug 14, 2013, 5:57:10 PM
    Author     : sanjeev
*/

body { 
    margin:0;padding:0;
    background: #fafafa;
    font-size: 12px;

}

ul,h3{margin:0;padding:0}

.container ul li{list-style: none; padding: 20px 5px; border-bottom: 1px solid #ddd;}

.container h3{margin-top:2px; padding: 10px 5px;background: #0055cc; color:#fff; font-size: 12px;}

.container h3 #refresh{float: right; background: #fff;color:#000; padding: 5px;cursor:pointer}
